### Variables

In [10]:
X = 2     # '=' is assign operator
Y = 2.1
Z = X+Y
print(Z,X,Y) # print result

4.1 2 2.1

In [11]:
print("Assign value = ")
W = input() # takes user input

Assign value =
Ashraf

In [12]:
print(type(Z),type(X),type(Y)) # type() indicates data type

<class 'float'> <class 'int'> <class 'float'>

In [15]:
Q = int(input()) # int() indicates Q will only take integer values as input

2

### Operator

In [22]:
Y/X # Division

1.05

In [18]:
Y//X # round off result

1.0

In [20]:
Y%X # Modulus

0.10000000000000009

In [21]:
X**2 # Exponent

4

In [23]:
Y*X # Multiplication

4.2

### Comparisons

In [24]:
X==Y # Equal

False

In [25]:
X!=Y # Not equal

True

In [26]:
X>Y  # Greater than
X<Y  # Lesser than
X<=Y # Greater than or equal
X>=Y # Lesser than or equal

False

### Logical

In [27]:
a = 4
b = 4
c = 6

a == b and b == c

False

In [28]:
a == b or b == c

True

In [29]:
not (a == b)

False

### Membership

In [33]:
"1" not in "11"

False

In [31]:
"desh" in "Bangladesh"

True

### Identity

In [34]:
a is b

True

## Data Structures

In [37]:
# List
list_1 = ['BUET', 'RUET', 'EWU', 'Brac'] # every data/value inside [] is called 'item'
list_2 = [1, 2, 3, 4] # item inside [] is altogether called indexing, they start from count 0

In [39]:
list_1[2]

'EWU'

In [38]:
list_2[0]

1

In [42]:
# Slicing lower<=index<upper
list_1[0:3]

['BUET', 'RUET', 'EWU']

In [41]:
# this can also be rewritten as 'list_1[:3]' here we can ignore if our slicing starts from 0
list_1[1:]

['RUET', 'EWU', 'Brac']

In [43]:
# update list
list_1.append('NSU') # this will automatically add new item at the end
list_1

['BUET', 'RUET', 'EWU', 'Brac', 'NSU']

In [44]:
list_1.insert(2, 'KUET') # this will add new item at our desired index
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU']

In [45]:
list_1.extend([10, 20]) # this will us to add more than one new item
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10, 20]

In [47]:
# Merge 2 lists
list_1 + list_2

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10, 20, 1, 2, 3, 4, 1, 2, 3, 4]

In [48]:
# Rewritten as
list_1.extend(list_2)
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10, 20, 1, 2, 3, 4, 1, 2, 3, 4]

In [49]:
# Remove items
del list_1[7:] # mention the range of element we want to delete inside []
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU', 10]

In [50]:
list_1.remove(10) # mention the element we want to delete inside ()
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'Brac', 'NSU']

In [51]:
del list_1[-2] # mention the index of element we want to delete inside []
list_1

['BUET', 'RUET', 'KUET', 'EWU', 'NSU']

In [55]:
list_1.pop() # remove last element
list_1

['BUET', 'RUET', 'KUET']

In [56]:
# inceament
list_1 += ['RUET', 'RUET']  # list_1 = list_1 + ['RUET', 'RUET'] 
list_1

['BUET', 'RUET', 'KUET', 'RUET', 'RUET']

In [57]:
# element count
list_1.count('RUET')

3

In [58]:
# sorting
list_3 = ['b', 'c', 'e', 'a']
sorted(list_3)

['a', 'b', 'c', 'e']

### Tuple

In [68]:
tup = ('a', 'b', 'c', 'd')
type(list_1), type(tup)

(list, tuple)

In [69]:
# length of tuple
len(tup)

4

In [70]:
# update tuple
tup = tup + ('e',)
tup

('a', 'b', 'c', 'd', 'e')

### Dictionary

In [71]:
dict = {'b': 'BUET', 'r': 'RUET', 'k': 'KUET', 'e': 'EWU', 'n': 'NSU'}
dict['e']

'EWU'

In [72]:
# update and inserting a new item
dict['ru'] = 'RU' 
dict

{'b': 'BUET', 'r': 'RUET', 'k': 'KUET', 'e': 'EWU', 'n': 'NSU', 'ru': 'RU'}

In [73]:
dict.keys()

dict_keys(['b', 'r', 'k', 'e', 'n', 'ru'])

In [74]:
dict.values()

dict_values(['BUET', 'RUET', 'KUET', 'EWU', 'NSU', 'RU'])

### Set

In [75]:
s = {9, 1, 2, 3, 4, 4, 4}
s

{1, 2, 3, 4, 9}

### String

In [76]:
string = "Bangladesh is 'LOVE'. I love her."
string

"Bangladesh is 'LOVE'. I love her."

In [77]:
print("Bangladesh is 'LOVE.", end=" ")
print("I love her.")

Bangladesh is 'LOVE. I love her.

In [78]:
# tab/4 spacing
print("Bangladesh is 'LOVE.", end="\t") 
print(" I love her.")

Bangladesh is 'LOVE.	 I love her.

In [80]:
# new line spacing
print("Bangladesh is 'LOVE.", end="\n")
print("I love her.")

Bangladesh is 'LOVE.
I love her.

In [81]:
string[1:6]

'angla'

In [86]:
n = 147570
string_2 = "Area of BD is: "
print(string_2, n, "sq. km.")

Area of BD is:  147570 sq. km.

In [85]:
# rewrite as 
print(f"{string_2}{n} sq. km.")

Area of BD is: 147570 sq. km.

In [87]:
type(n)

int

In [88]:
# string add
s1 = 'bangla'
s2 = 'wash'
washed = s1 + '-' + s2 # bangla-wash
washed

'bangla-wash'

In [89]:
# remove/split/delete character element from string
washed.split('a')

['b', 'ngl', '-w', 'sh']

In [90]:
# find beginning of a string
washed.find("wash")

7