### If

In [1]:
a = 10
b = 50
if a > b:
    print("a") # spacing before print is called indentation
elif a==b:
    print("equal")
else:
    print("b")

b

In [2]:
# nested if
c = 15
if a>b:
    if a>c:
        print("a")
    else:
        print("c")

else:
    if b>c:
        print("b")
    else:
        print("c")

b

### While

In [3]:
n = 1
while n <= 10: # >=
    if n==6:
        n = n + 1 # increment
        break
    print(n)
    n = n + 1 # increment
print("Done")

1
2
3
4
5
Done

In [4]:
n = 1

while n <= 10: # >=
    if n==6:
        n = n + 1 # increment
        continue
    print(n)
    n = n + 1
print("Done")

1
2
3
4
5
7
8
9
10
Done

### For

In [5]:
for i in range(10):    # (0, 10, 1)   # (initialization, condition, post-statement)
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
for i in range(4, 10, 2):   # (initialization, condition, post-statement)
    print(i)

4
6
8

In [7]:
veg = ['tomato', 'potato', 'cauliflower']
for v in veg:
    print(v)

tomato
potato
cauliflower

In [8]:
dict = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}
for letter in dict:
    print(letter)
    print(letter.values)

a

AttributeError: 'str' object has no attribute 'values'

In [9]:
dict = {'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D'}
for letter in dict.values():
    print(letter)

A
B
C
D

### Multiplication table using loop

In [10]:
m = 1
n = 10
while m <= 10: # True/False
    print(n, 'x', m, '=', n*m)
    m = m + 1

10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [11]:
numbers = [1, 3, 5, 7, 9, 11]
for n in numbers:
    if n < 9:
        print(n)

1
3
5
7

In [13]:
# Function
def my_pet(name):  # parameter/input
    return name    # output

In [14]:
# calling the function
t = my_pet("tiger")
t

'tiger'

In [15]:
# rewritten as
my_pet("tom")

'tom'

In [16]:
# multiple output, no parameter
def country():   
    print("BD")
    print("Bangla")
    print("CSA")

In [17]:
country()

BD
Bangla
CSA

In [18]:
c = country()

BD
Bangla
CSA

In [19]:
# multiple input/variable/parameter
def my_pet(name, age, color):    # parameter
    return name, age, color    # output

In [20]:
name, age, color = my_pet('a', 18, 'blue')

In [21]:
age

18

In [22]:
tup = my_pet('a', 18, 'blue')
tup

('a', 18, 'blue')

In [23]:
my_pet('a', 18, 'yellow')

('a', 18, 'yellow')

In [24]:
def numbers(n): 
    n = 12    # local = value assigned inside function
    return n

n = 14        # global = value assigned outside function

In [25]:
def numbers(i): 
    i = 12         # local i
    return i

for i in range(5): # global i
    print(i)

0
1
2
3
4

In [32]:
def numbers(i): 
    i += 1       # i = i + 1, increment, local
    return i

i = 10          # global
print(i)

10

In [33]:
# Lambda Function
def add(a, b):   # this generalized function format
    return a+b

sum = add(10, 15)
sum

25

In [35]:
lambda_add = lambda a,b : a+b # this is lamda function
lambda_add(10,15)

25

In [30]:
# Mapped iteraive process
# Map -> Built-in Function
l = [1, 2, 3, 4, 5]     # iterable object/list
square = lambda n : n*n #iteration function

new = map(square, l)
m = set(new)     # list
print(m)

{1, 4, 9, 16, 25}

In [31]:
# normal iterative process
l = [1, 2, 3, 4, 5]
for i in l:
    print(i*i)

1
4
9
16
25