# Display float number with 2 decimal places using print().

In [13]:
X = 18.01171
print('%.2f'%X)

18.01

# Accept a list of float numbers as input from the user and display that.

In [19]:
Float = input("List of float numbers: ")
print(Float)

List of float numbers: 1.1, 1.2, 1.3, 1.4, 1.5
1.1, 1.2, 1.3, 1.4, 1.5

# Print the First n natural numbers using a while loop.

In [20]:
n = 0
while n<=10:
    print(n)
    n+=1

0
1
2
3
4
5
6
7
8
9
10

# Display numbers from -n to -1 using for loop.

In [28]:
for n in range (-10,0,1):
    print(n)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Count the total number of digits in a number.

In [36]:
n = 1801171
count = 0

while n!= 0:
    n//= 10
    count += 1

print("Number of digits: " + str(count))

Number of digits: 7

# Print this: 
# 1 
# 1 2
# 1 2 3 
# 1 2 3 4 
# 1 2 3 4 5

In [37]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5